/*=================================================================== */
        /*---------- MEDIA QUERIES -------------*/
/*==================================================================== */

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }




/*=================================================================== */
        /*---------- General Styles -------------*/
/*==================================================================== */

.row {
    margin: 0 auto !important;
}


.navbar {
    height: 60px;
}
.container-fluid {
    padding: 50px;
}

.container-fluid h1 {
    margin-top: 50px;
}

.container-fluid p {
    margin: 20px 0px;
}


.cntnt {
    width: 500px;
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .cntnt {
        width: 500px;

    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .cntnt {
        width: 400px;

    }

}

/*=================================================================== */
        /*---------- MEDIA QUERIES -------------*/
/*==================================================================== */

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }


/*=================================================================== */
        /*---------- CALCULATOR Styles -------------*/
/*==================================================================== */

.result_ {
    margin-top: 10px;    
    
}

.res_ {
    width: 100px;
    height: 34px;
        
    
    color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 2px;
    /*    background-color: #fff;*/
    
    
    display: inline-block;
    padding: 6px 12px;
    margin: 0px 10px 0px 0px;
   
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    
    
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

}

.result_ button {
    width: 40px;
}

#all {
    width: auto;
}

